{% extends 'bandPage.html' %}
{% block discog_table %}
    {% if bandElement|length > 1 %}
        There appears to be more than one entry for {{ band }}. Might be an XML error....
    {% elif bandElement|length < 1 %}
        {{ band }} does not exist
    {% else %}
    <div class="span5">
        <div id="albumForm" class="row-fluid hide" style="padding-bottom: 1em">
            <input name="title" class="span4" type="text" placeholder="Album Name" required/>
            <input  name="releaseDate" class="span4" type="date" placeholder="Release Date" required/>
            <div class="pull-right">
                <a class="btn btn-primary album-submit"  href="#!"><i class="icon-plus icon-white"></i> Add</a>
                <a class="btn album-cancel"  href="#!">Cancel</a>
            </div>
        </div>
        {% for album in bandElement[0].findall('Album') %}
            <div class="album" data-title="{{ album.get('title') }}">
                <div class="row-fluid">
                    <h4><span class="span5">
                        <a class="btn-mini hide album-delete" href="#!" style="margin-left: -2.5em"><i class="icon-remove"></i></a>
                        <em>{{ album.get('title') }}</em>
                    </span></h4>
                    <div class="span5 offset2"><strong>Release date: </strong>{{ album.find('ReleaseDate').text }}</div>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Song Title</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for song in album.findall('Song') %}
                            <tr data-songno="{{ loop.index }}">
                                <td>{{ song.get('title') }}</td>
                                <td>
                                    {{ song.get('length') }}
                                    <a class="btn-mini pull-right hide song-delete" style="margin-left: -10em" href="#!"><i class="icon-remove"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="pull-right hide song-add"  href="#!"><i class="icon-plus"></i> <small>Add Song</small></a>
                <div class="song-form row-fluid hide">
                    <input name="songtitle" class="span5 offset5" type="text" placeholder="Enter Song Title" />
                    <input  name="duration" class="span2" type="text" placeholder="mmm:ss" />
                    <div class="pull-right">
                        <a class="btn btn-primary song-submit"  href="#!"><i class="icon-plus icon-white"></i> Add</a>
                        <a class="btn song-cancel"  href="#!">Cancel</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span8 offset2"><hr></div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}